$lightblue: rgb(238, 249, 252);
$midblue: rgb(169, 169, 245);
$darkblue: rgb(104, 104, 186);
$darkgrey: rgb(112, 107, 107);
$fontgrey: rgb(78, 77, 77);
$transgrey: rgb(0, 0, 0, 0.5);
$lightgrey: rgb(227, 227, 227);
$midgrey: rgb(198, 194, 194);
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$p1: 1em;
$p2: 2em;
