$lightblue: rgb(233, 246, 250);
$midblue: rgb(169, 169, 245);
$darkblue: rgb(116, 116, 234);
$darkgrey: rgb(112, 107, 107);
$fontgrey: rgb(78, 77, 77);
$transgrey: rgb(0, 0, 0, 0.5);
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$p1: 1em;
$p2: 2em;
