@use "../../styles/variables" as vars;

#about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media (min-width: vars.$md) {
    width: 100%;
    max-width: 1100px;
  }

  #about-image {
    max-width: 600px;
  }
}
