@use "../../styles/variables" as vars;

.home-banner-placeholder-col {
  display: none;
  @media (min-width: vars.$md) {
    display: block;
  }
}

#office-image {
  min-height: 300px;
  margin: 2rem;
  background: url("../../assets/shutterstock_696636346.jpg") center 25% / cover
    no-repeat;
  @media (min-width: vars.$md) {
    flex-direction: row;
    height: 200px;
  }
}

#home-login-container {
  background: url("../../assets/shutterstock_1302552622.jpg") center 8% / cover
    no-repeat;
  display: flex;
  height: 400px;
  width: 100%;
}
