@use "../../styles/variables" as vars;

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: vars.$md) {
    width: 100%;
    max-width: 550px;
  }
}

.form-field-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  color: vars.$fontgrey;
}

.form-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (min-width: vars.$md) {
    flex-direction: row;
  }
}

.form-row-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  @media (min-width: vars.$md) {
    flex-direction: row;
  }
}

.small-field {
  @media (min-width: vars.$md) {
    max-width: 100px !important;
  }
}

.right-small-field {
  margin-left: 1rem;
  @media (min-width: vars.$md) {
    margin-left: 1rem;
  }
}

#contact-image-wrapper {
  display: none;
  height: 1000px;
  #contact-image {
    height: 800px;
  }
  @media (min-width: vars.$md) {
    display: block;
    height: 1000px;
  }
}

.error-wrapper {
  color: red;
  .error {
    text-align: left;
  }
}

#contact-thank-you-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(184, 214, 184);
  color: vars.$fontgrey;
  #valid-icon-wrapper {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 194, 73);
    #valid-icon {
      height: 20px;
      width: auto;
    }
  }
}

#add-address-label {
  text-align: left;
}
