@use "../../styles/variables" as vars;

#header {
  display: flex;
  padding: 0.1rem;

  #header-column-left {
    align-items: center;
    justify-content: center;

    #company-logo {
      height: 1.5em;
      padding: 1em 0;
    }
  }

  #header-column-right {
    display: none;
    align-items: center;
    justify-content: center;

    .header-link {
      padding: 1em 2em;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      color: vars.$darkgrey;
    }
    @media (min-width: 889px) {
      display: flex;
    }
  }
}
